body {
    margin: 0;
    background-color: #ee670f;
}

header {
    margin-bottom: 5vh;
}

.page-title,
nav {
    display: flex;
    justify-content: center;
}

nav {
    border-bottom: 2px solid black;
}

button {
    border-style: none;
    height: 8vh;
    width: 15vw;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #6e4427, #ee670f);
}

button:hover {
    background-image: linear-gradient(to top, #fcca00, #ee670f);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*HOME TAB*/
.home-text,
.home-banner {
    text-align: center;
}

h1,
.home-text > p {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.home-img {
    width: 80vw;
    height: 80vh;
}

/*MENU TAB*/
.dish-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    width: auto;
    margin-bottom: 5vh;
    align-items: center;
    border: 2px dashed black;
}

.dish-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish-info > p {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.dish-img {
    height: 30vh;
    width: 25vh;
}