body {
    margin: 0;
}

header {
    margin-bottom: 5vh;
}

.page-title,
nav {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text,
.home-banner {
    text-align: center;
}

.home-img {
    width: 80vw;
    height: 80vh;
}

.dish-area {
    display: flex;
    flex-direction: column;
}

.dish-area > p {
    margin: 0;
}

.dish-img {
    height: 30vh;
    width: 25vh;
    margin-bottom: 5vh;
}